<nav class="navbar navbar-expand navbar-light bg-primary">
  <button (click)="sidebar.toggle()" class="btn btn-outline-light fa fa-bars"></button>

  <span class="nav-item text-white text-xl-center ml-3">Nawigacja</span>

  <ul class="navbar-nav mx-auto">
    <li class="fa fa-2x fa-medkit text-white mr-2 my-auto"></li>
    <li class="text-white my-auto ml-2">E-Przychodnia</li>
  </ul>

  <span class="text-black-50"><i class="fa fa-2x fa-user mr-2"></i></span>

  <div *ngIf="!usernamePresent(); else userNamePresent">
    <button (click)="naviateToLoginPage()" class="btn btn-sm btn-warning">Logowanie</button>
  </div>
  <ng-template #userNamePresent>
    <div class="text-white">{{username}}</div>
  </ng-template>
</nav>

<mat-drawer-container>
  <mat-drawer #sidebar mode="side">
    <div class="container">
      <nav class="nav flex-column">
        <a class="nav-link" routerLink="/homepage" routerLinkActive="active">Strona główna</a>
        <a *ngIf="this.userService.isReceptionist()"
          class="nav-link" routerLink="/doctorlist" routerLinkActive="active">Doktorzy</a>
        <a *ngIf="this.userService.isEmployee()"
           class="nav-link" routerLink="/patientlist" routerLinkActive="active">Pacjenci</a>
        <a *ngIf="this.userService.hasUser()"
           class="nav-link" routerLink="/account" routerLinkActive="active">Konto</a>
        <a *ngIf="this.userService.hasUser()"
           (click)="this.userService.signOut()" routerLink="/homepage" class="nav-link" routerLinkActive="active">Wyloguj</a>
      </nav>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



