<div class="row">
  <div class="col-md-6">
    <h2>Wyszukaj:</h2>
    <form (ngSubmit)="ngOnInit()">
    <div class="col-md">
      <h3>Imię: </h3>
      <input type="text" id="name" [(ngModel)]="name" name="name">
    </div>
    <div class="col-md">
      <h3>Nazwisko: </h3>
      <input type="text" id="surname" [(ngModel)]="surname" name="surname">
    </div>
    <input name="search" type="submit" value="Szukaj">
    </form>
  </div>
  <div class="col-md-6">
    <h2>Lista doktorów</h2>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let doctor of doctorList">
    {{doctor.user.firstName + " " + doctor.user.lastName}}
    <button (click)="toDoctorDetails(doctor.user.userId)" class="btn btn-danger">Więcej</button>
  </li>
</ul>
  </div>
</div>
