<div class="row">
  <div class="col-md">
    <h2>Lista chorobowa pacjenta {{patient.firstName + ' ' + patient.lastName}}: </h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Typ dokumentu</th>
        <th scope="col">Dane</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of history">
        <th scope="row">{{doc.date}}</th>
        <td>{{doc.documentType}}</td>
        <td>{{doc.data}}</td>
      </tr>
      </tbody>
    </table>
    <button (click)="backClicked()" style="margin-right: 5px" class="btn btn-danger"><-- Wróć</button>
  </div>
</div>
